header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10px) brightness(70%);
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#header {
  margin: 5px auto;
  width: 90vw;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #e0e0e0;
  padding: 0 10px;
}
#sidebar {
  position: fixed;
  z-index: 3000;
  top: -100%;
  left: -100%;
  transition: all 0.9s ease;
  width: 100vw;
}
#sidebar.show {
    top: 0;
left: 0;
  transform: translatex(0);
}
@media (max-width: 800px) {
  #nav-links {
    display: none;
  }
  #sidebar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 60px;
  }
  #sidebar {
    width: 80vw;
    height: 100vh;
     bottom: -100%;
  left: -100%;
  }
  .show {
    justify-content: flex-start;
    flex-direction: column;
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
  }

  #menuIcon,
  #cancelIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
  }
  #menuIcon span,
  #cancelIcon span {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 2px 0;
    border-radius: 10px;
  }
}
#middle-cross {
  opacity: 0;
}
#top-cross {
  transition: transform 0.5s ease;
  transform: rotate(-45deg) translate(-14px);
}
#bottom-cross {
  transform: rotate(45deg) translate(-12px);
  transition: transform 0.5s ease;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #7e57c2; /* slate violet */
  transition: color 0.3s, transform 0.2s;
}
a:hover {
  color: #ffc107;
  transform: scale(1.05);
}
